
.about_body{
    margin-top: 20px;
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #A03037;
}
.bookstore_text{
    font-size: 150px;
	font-weight: 700;
	font-family: "sans-serif";
	background-clip: text;
	background-size: 300px 200px;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../../../public/assets/shiromani-kant-mo3FOTG62ao-unsplash.jpg');
}