
.about_body{
    margin-top: 20px;
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #A03037;
}
.book_img{
    margin-top: 10px;
    width: 100%;
    box-shadow: 5px 10px 18px #888888;
}