.div_head {
    background-color: #A03037;
    /* width: 199vh; */
}

.logo_icon{
    margin-left: 10px;
}

.search_form {
    width: 30rem;
    margin-left: 5rem;
}

.search_icon {
    top: 10px;
    position: relative;
    left: 452px;
    color: rgb(171, 158, 158);
}

.navItem {
    margin-left: 340px;
    font-size: 18px;
}

.nav_icon {
    color: #fff;
}
