.main_div{
    background-color: #A03037;
    margin-top: 50px;
    color: #fff;
}
.book_text{
    color: white;
    font-size: large;
}   
p{
    color: rgb(205, 207, 207);
    font-size: small;
}
.social{
    margin-left: 120px;
}
.row_copyright{
    background-color: #461316;
    font-size: small;
}
.brand_icon{
    margin-left: 30px;
}